body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  color: #222222;
  font-weight: 400;
  line-height: 1.5;
  
}

.principal-banner {
  width: 100%;
  min-height: 200px;
  z-index: 3;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.banner {
  width: 100%;
}

main {
  background-color: #fdd9b9;
}

footer {
  background-color: #02aeba;
  text-align: right;
}

ul {
  list-style-type: circle;
}

li {
  margin-bottom: 0.3rem;
}

main section {
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
}

header {
  background-color: #02aeba;
  color: #f9b6ae;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.hide {
  display: none;
}

.content-box {
  max-width: 1000px;
  padding: 1rem;
  margin: auto;
}

h1 {
  margin: 0;
}

h2 {

}

h3 {

}

p {

}

#main {
  display: flex
}

.logo {
  max-width: 200px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 3rem;
}

.presentation-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.card {
  background-color: white;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  padding: 1rem;
  color: #737373;
  border-radius: 4px;
}

.card h3 {
  color: #737373;
  margin-top: 1rem;
}

.card p {
  color: #737373;

}

.about {
  display: flex;
}

@media screen and (max-width: 800px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  #main {
    display: block;
  }
  
  .img-box {
    text-align: center;
  }
  
  .presentation-box {
    display: block;
  }

  .banner {
    width: unset;
    height: 225px;
  }

  .about {
    flex-direction: column;
  }

  .content {
    padding-left: unset;
  }

  .logo {
    max-width: 150px;
    width: 100%;
  }
}
