body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  color: #222222;
  font-weight: 400;
  line-height: 1.5;
  scroll-behavior: smooth;
}

.principal-banner {
  width: 100%;
  min-height: 200px;
  z-index: 3;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.banner {
  width: 100%;
}

main {
  background-color: #f5b6b5;
}

footer {
  background-color: #02aeba;
  text-align: right;
}

ul {
  list-style-type: circle;
}

li {
  margin-bottom: 0.3rem;
}

nav {
  display: none;
  color: #f9b6ae;
  background-color: #02aeba;
}

.fixed-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  z-index: 1;
  animation: 0.5s ease-out 0s 1 slideInFromTop;
}

.content-box {
  max-width: 1000px;
  padding: 1rem;
  margin: auto;
}

h1 {
  margin: 0;
}

h2 {

}

h3 {

}

p {

}

p .highlight {
  font-size: 20px;
  font-weight: 500;
}

#main {
  display: flex
}

.logo {
  max-width: 200px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 3rem;
}

.content-container {
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.card {
  background-color: white;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  padding: 1rem;
  color: #737373;
  border-radius: 24px;
}

.card h3 {
  color: #737373;
  margin-top: 1rem;
}

.card p {
  color: #737373;

}

.about {
  display: flex;
}

section#proposals {
  opacity: 0;
}

section#proposals.show {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  opacity: 1;
}

section#me {
  opacity: 0;
}

section#me.show {
  animation: 1s ease-out 0s 1 slideInFromRight;
  opacity: 1;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  #main {
    display: block;
  }
  
  .img-box {
    text-align: center;
  }
  
  .presentation-box {
    display: block;
  }

  .banner {
    width: unset;
    height: 225px;
  }

  .about {
    flex-direction: column;
  }

  .content {
    padding-left: unset;
  }

  .logo {
    max-width: 150px;
    width: 100%;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100px);
    opacity:0
  }
  80% {
    transform: translateX(20px)
  }
  100% {
    transform:translateX(0);
    opacity:1
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100px);
    opacity:0
  }
  80% {
    transform: translateX(-20px)
  }
  100% {
    transform: translateX(0);
    opacity:1
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100px);
    opacity:0
  }
  80% {
    transform: translateY(-20px)
  }
  100% {
    transform: translateY(0);
    opacity: 1
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100px);
    opacity: 1
  }
  100% {
    transform: translateY(0);
    opacity:1
  }
}
